@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@300;400;500;600&display=swap");

:root {
  --bg1: #151828;
  --bg2: #1b1f34;
  --body: #959dcc;
  --brand: #fb7c40;
  --white: #fff;
}
* {
  box-sizing: border-box;
  font-family: "Inter", "Dela Gothic One", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter";
  line-height: 1.6;
  background-color: #1b1f34;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dela Gothic One";
  font-weight: 400;
}
.container {
  padding: 24px 32px;
}


/* ...........header section............ */
header {
  height: 100vh;
}
nav {
  /* float: left; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.link_nav span {
  padding-right: 24px;
  font-size: 18px;
}
.link_nav a {
  text-decoration: none;
  color: #fb7c40;
  font-weight: 500;
}
.link_nav a:hover {
  color: #fff;
}
.logo_nav img {
  height: 100px;
}
.title {
  padding-top: 15%;
  margin-right: 50%;
}
.title h1 {
  font-size: 40px;
}
.title h1 span {
  font-family: "Dela Gothic One";
  color: #fb7c40;
}
.title p {
  font-size: 20px;
}


/* ....................about section..................... */
.row {
  display: flex;
}

.row img {
  width: 350px;
  margin-right: 40px;
}
.aboutus {
  width: 60%;
}
.aboutus h1 {
  font-size: 40px;
}
.aboutus p {
  font-size: 20px;
  
}
