@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@300;400;500;600&display=swap");

:root {
  --bg1: #151828;
  --bg2: #1b1f34;
  --body: #959dcc;
  --brand: #f1611c;
  --white: #fff;
}
* {
  box-sizing: border-box;
  font-family: "Inter", "Dela Gothic One", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter";
  line-height: 1.6;
  background-color: #1b1f34;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dela Gothic One";
  font-weight: 400;
}
.container {
  padding: 24px 32px;
}
/* ...........header section............ */
.title h1 span {
  font-family: "Dela Gothic One";
  color: #f1611c;
}
/* .........navigation.............. */

.logo_nav {
  /*For a later time*/
}
.link_nav {
  
}